In [1]:
#hide
#default_exp utils.experiment_utils
from nbdev.showdoc import *
from dsblocks.utils.nbdev_utils import nbdev_setup, TestRunner

nbdev_setup ()
tst = TestRunner (targets=['dummy'])
#tst = TestRunner (targets=[])

# Experiment Utils

> Helper functions for querying and retrieving results from past experiments

In [2]:
#export
import pandas as pd
import numpy as np
import pickle
import os
import sys
import time
from sklearn.model_selection import ParameterGrid
import warnings
warnings.filterwarnings('ignore')

In [3]:
#for tests
import pytest
import pandas as pd
from dsblocks.utils.nbdev_utils import md
from hpsearch.examples.dummy_experiment_manager import (DummyExperimentManager, 
                                                        run_multiple_experiments)
from hpsearch.examples.complex_dummy_experiment_manager import generate_data, init_em

In [4]:
# exports tests.utils.test_experiment_utils
def generate_data_exp_utils (name_folder):
    path_experiments = f'test_{name_folder}'
    manager_path = f'{path_experiments}/managers'
    em = DummyExperimentManager (path_experiments=path_experiments, manager_path=manager_path,
                                 verbose=0)
    em.remove_previous_experiments ()
    run_multiple_experiments(em=em, nruns=5, noise=0.1, verbose=False,
                             values_to_explore=dict(offset=[0.1, 0.3, 0.6], epochs=[5, 10, 100]))
    run_multiple_experiments(em=em, nruns=5, noise=0.1, verbose=False, rate=0.0001,
                             values_to_explore=dict(offset=[0.1, 0.3, 0.6], epochs=[5, 10, 100]))
    return em

## get_experiment_data

In [5]:
#export
def get_experiment_data (path_experiments=None, folder_experiments=None, experiments=None):
    """
    Returns data stored from previous experiments in the form DataFrame. 
    
    If path_experiments is not given, it uses the default one. 
    """
    from hpsearch.config.hpconfig import get_experiment_data
    return get_experiment_data (path_experiments=path_experiments, folder_experiments=folder_experiments,
                                experiments=experiments)

### Usage example

In [6]:
#exports tests.utils.test_experiment_utils
def test_get_experiment_data ():
    path_experiments = 'test_get_experiment_data'
    em = generate_data (path_experiments)
    
    df = get_experiment_data ()
    reference = em.get_experiment_data ()
    pd.testing.assert_frame_equal (df, reference)
    
    em.remove_previous_experiments ()

In [7]:
tst.run (test_get_experiment_data, tag='dummy')

running test_get_experiment_data

## get experiment parameters and scores

### get_parameters_columns

In [8]:
#export
def get_parameters_columns (experiment_data, only_not_null=False):
    parameters =  [par for par in experiment_data.columns if not par[0].isdigit() and (par.find('time_')<0) and (par.find('date')<0)]
    if only_not_null:
        parameters = np.array(parameters)[~experiment_data.loc[:,parameters].isnull().all(axis=0)].tolist()
    return parameters

### get_experiment_parameters

In [9]:
#export
def get_experiment_parameters (experiment_data, only_not_null=False):
    return experiment_data[get_parameters_columns (experiment_data, only_not_null=only_not_null)]

### get_scores_columns

In [10]:
#export
def get_scores_columns (experiment_data=None, suffix_results='', class_ids = None):
    """
    Determine the columnns that provide evaluation scores. 
    
    We assume that they start with the class number, and that the other columns 
    do not start with a digit.
    """
    if class_ids is not None:
        scores_columns = ['%d%s' %(col,suffix_results) for col in class_ids]
    else:
        if experiment_data is None:
            raise ValueError ('Either experiment_data or class_ids should be different than None')
        scores_columns = [col for col in experiment_data.columns if col[0].isdigit()]
        # For some experiments, we have multiple scores per class (e.g., due to different evaluation criteria). The argument suffix_results can be used to select the appropriate score.
        if len(suffix_results) > 0:
            scores_columns = [col for col in scores_columns if (len(col.split(suffix_results))==2) and (len(col.split(suffix_results)[1])==0) and (col.split(suffix_results)[0].isdigit()) ]
        else:
            # We assume that default scores are in columns whose names only have the class number 
            scores_columns = [col for col in scores_columns if (len(col.split('_'))>=1)]
    return scores_columns

### get_experiment_scores

In [11]:
#export
def get_experiment_scores (experiment_data = None, suffix_results = '', class_ids = None, remove_suffix=False):
    df = experiment_data[get_scores_columns (experiment_data, suffix_results=suffix_results, class_ids=class_ids)]
    if remove_suffix:
        df.columns=[c.split('_')[0] for c in df.columns]
    return df

### Usage examples

In [12]:
#exports tests.utils.test_experiment_utils
def test_get_parameters_and_scores ():
    path_experiments = 'test_get_parameters_and_scores'
    em = generate_data (path_experiments)
    df = em.get_experiment_data ()

    # ************************************************************
    # get_parameters_columns
    # ************************************************************
    assert get_parameters_columns (df) ==['epochs', 'offset', 'rate', 'noise']

    offset = df.offset.values.copy()
    md ('- We can take only those which have at least some value that is not None.')
    df.loc[:, 'offset'] = None
    assert get_parameters_columns (df, only_not_null=True)==['epochs', 'rate', 'noise']

    md ('- If only some elements are None for a given parameter, we still include it.')
    df.loc[:, 'offset'] = offset
    df.loc[2, 'offset'] = None
    assert get_parameters_columns (df, only_not_null=True)==['epochs', 'offset', 'rate', 'noise']
    df.loc[:, 'offset'] = offset

    # ************************************************************
    # get_experiment_parameters
    # ************************************************************
    md ('- Same as get_parameters_columns, but returning dataframe of parameter values.')
    result = get_experiment_parameters (df)
    assert result.shape == (9, 4)
    assert sorted(result.columns) == sorted(['epochs', 'offset', 'rate', 'noise'])

    # ************************************************************
    # get_scores_columns
    # ************************************************************
    md ('- Retrieve all columns that have scores, for all runs')
    assert get_scores_columns (df) == ['0_validation_accuracy',
     '0_test_accuracy',
     '0_finished',
     '1_validation_accuracy',
     '1_test_accuracy',
     '1_finished',
     '2_validation_accuracy',
     '2_test_accuracy',
     '2_finished',
     '3_validation_accuracy',
     '3_test_accuracy',
     '3_finished',
     '4_validation_accuracy',
     '4_test_accuracy',
     '4_finished']

    md ('- Retrieve all columns for given score name, for all runs')
    assert get_scores_columns (df, suffix_results='_test_accuracy') == [
         '0_test_accuracy',
         '1_test_accuracy',
         '2_test_accuracy',
         '3_test_accuracy',
         '4_test_accuracy']

    md ('- Retrieve all columns for given score name, for given runs')
    assert get_scores_columns (df, suffix_results='_test_accuracy', class_ids=[2, 4]) == [
     '2_test_accuracy',
     '4_test_accuracy']

    # ************************************************************
    # get_experiment_scores
    # ************************************************************
    md ('- Same, but returning dataframe with selected scores values:')
    result = get_experiment_scores (df)
    display (result)
    assert result.shape==(9,15)

    result = get_experiment_scores (df, suffix_results='_test_accuracy')
    display (result)
    assert result.shape==(9,5)

    result = get_experiment_scores (df, suffix_results='_test_accuracy', class_ids=[2,4])
    display (result)
    assert result.shape==(9,2)

    md ('- We can remove the metric name and only keep the run number in each column:')
    result = get_experiment_scores (df, suffix_results='_test_accuracy', class_ids=[2,4], remove_suffix=True)
    display (result)
    assert result.shape==(9,2)
    
    # ************************************************************
    # get_scores_columns, first usage example: we do not indicate the name of the score
    # ************************************************************
    assert get_scores_columns (df)==['0_validation_accuracy', '0_test_accuracy', '0_finished', 
                                     '1_validation_accuracy', '1_test_accuracy', '1_finished', 
                                     '2_validation_accuracy', '2_test_accuracy', '2_finished', 
                                     '3_validation_accuracy', '3_test_accuracy', '3_finished', 
                                     '4_validation_accuracy', '4_test_accuracy', '4_finished']
    
    # ************************************************************
    # get_scores_columns, second usage: we indicate the name of the score
    # ************************************************************
    result = get_scores_columns (df, class_ids=range(5), suffix_results='_validation_accuracy')
    assert result == ['0_validation_accuracy', '1_validation_accuracy', '2_validation_accuracy',
                     '3_validation_accuracy', '4_validation_accuracy']
    em.remove_previous_experiments ()

In [13]:
tst.run (test_get_parameters_and_scores, tag='dummy')

running test_get_parameters_and_scores

- We can take only those which have at least some value that is not None.

- If only some elements are None for a given parameter, we still include it.

- Same as get_parameters_columns, but returning dataframe of parameter values.

- Retrieve all columns that have scores, for all runs

- Retrieve all columns for given score name, for all runs

- Retrieve all columns for given score name, for given runs

- Same, but returning dataframe with selected scores values:

,0_validation_accuracy,0_test_accuracy,0_finished,1_validation_accuracy,1_test_accuracy,1_finished,2_validation_accuracy,2_test_accuracy,2_finished,3_validation_accuracy,3_test_accuracy,3_finished,4_validation_accuracy,4_test_accuracy,4_finished
0,0.203053,0.404256,True,0.159198,0.208770,True,0.189936,0.320831,True,0.117181,0.369686,True,0.284362,0.173696,True
1,0.483126,0.647555,True,0.486164,0.485488,True,0.459176,0.351243,True,0.397024,0.601327,True,0.450511,0.526541,True
2,0.775755,0.842555,True,0.864282,0.925193,True,0.759965,0.799652,True,0.831352,0.726914,True,0.802194,0.879698,True
3,0.523534,0.722017,True,0.601505,0.835273,True,0.483821,0.535243,True,0.505996,0.463074,True,0.631286,0.512963,True
4,0.812412,0.712835,True,0.782272,0.567277,True,0.845042,0.592310,True,0.867930,0.656752,True,0.698613,0.544079,True
5,1.000000,1.000000,True,1.000000,0.866905,True,1.000000,0.892311,True,0.862921,0.914849,True,1.000000,0.987730,True
6,0.419808,0.285564,True,0.363639,0.294305,True,0.392557,0.362067,True,0.498432,0.278601,True,0.520651,0.218306,True
7,0.656977,0.544771,True,0.567965,0.542417,True,0.750076,0.585022,True,0.659740,0.570117,True,0.622391,0.636414,True
8,0.829499,0.794423,True,0.839049,0.781303,True,0.839438,0.982601,True,0.949097,0.873488,True,1.000000,0.859253,True

,0_test_accuracy,1_test_accuracy,2_test_accuracy,3_test_accuracy,4_test_accuracy
0,0.404256,0.208770,0.320831,0.369686,0.173696
1,0.647555,0.485488,0.351243,0.601327,0.526541
2,0.842555,0.925193,0.799652,0.726914,0.879698
3,0.722017,0.835273,0.535243,0.463074,0.512963
4,0.712835,0.567277,0.592310,0.656752,0.544079
5,1.000000,0.866905,0.892311,0.914849,0.987730
6,0.285564,0.294305,0.362067,0.278601,0.218306
7,0.544771,0.542417,0.585022,0.570117,0.636414
8,0.794423,0.781303,0.982601,0.873488,0.859253

   2_test_accuracy  4_test_accuracy
0         0.320831         0.173696
1         0.351243         0.526541
2         0.799652         0.879698
3         0.535243         0.512963
4         0.592310         0.544079
5         0.892311         0.987730
6         0.362067         0.218306
7         0.585022         0.636414
8         0.982601         0.859253

- We can remove the metric name and only keep the run number in each column:

          2         4
0  0.320831  0.173696
1  0.351243  0.526541
2  0.799652  0.879698
3  0.535243  0.512963
4  0.592310  0.544079
5  0.892311  0.987730
6  0.362067  0.218306
7  0.585022  0.636414
8  0.982601  0.859253

## get_scores_names

In [14]:
#export
def get_scores_names (experiment_data=None, run_number=None, experiment=None, only_valid=True):
    """ 
    Determine the names of the scores included in experiment data. 
    
    We assume that the score columns start with the class number, and that the other columns do not start with a digit.

    If run_number is provided, we provide the scores stored for that run number. If, in addition to this, 
    experiment is provided, and only_valid=True, we provide only the scores that are not NaN for the given 
    experiment number.
    """
    
    if run_number is None:
        scores_names = np.unique([('_'.join(col.split('_')[1:]) if (len(col.split('_')) > 1) else '') 
                                    for col in experiment_data.columns if col[0].isdigit()])
        
    else:
        scores_names = [col.split(f'{run_number}')[1] for col in experiment_data.columns if col.startswith(str(run_number))]
        scores_names = [('_'.join(col.split('_')[1:]) if (len(col.split('_')) > 1) else '')
                                    for col in scores_names]
        if (experiment is not None) and only_valid:
            scores_names = [name for name in scores_names if not np.isnan(experiment_data.loc[experiment, f'{run_number}_{name}'])]
        scores_names = list(np.sort(scores_names))
    # remove special names
    scores_names = [name for name in scores_names if name != 'finished']
    return scores_names

### Usage

In [15]:
#exports tests.utils.test_experiment_utils
def test_get_scores_names ():
    em = generate_data_exp_utils ('get_scores_names')
    
    df = em.get_experiment_data ()
    scores_names = get_scores_names (df)
    print (scores_names)
    assert scores_names == ['test_accuracy', 'validation_accuracy']
    
    scores_names=get_scores_names (df, run_number=3, experiment=7)
    print(scores_names)
    assert list(np.sort(scores_names))==['test_accuracy', 'validation_accuracy']

    # test when only some scores are valid
    df2 = df.copy()
    df2.loc[7, '3_test_accuracy']=np.nan
    scores_names=get_scores_names (df2, run_number=3, experiment=7)
    print (scores_names)
    assert scores_names==['validation_accuracy']
    
    em.remove_previous_experiments()

In [16]:
tst.run (test_get_scores_names, tag='dummy')

running test_get_scores_names
['test_accuracy', 'validation_accuracy']
['test_accuracy', 'validation_accuracy']
['validation_accuracy']

## get_monitored_training_metrics

In [17]:
#export
def get_monitored_training_metrics (experiment, run_number=0, history_file_name='model_history.pk', 
                                    path_results=None, root_path=None, root_folder=None):
    if path_results is None:
        from hpsearch.config.hpconfig import get_path_results
        path_results = get_path_results(experiment, run_number, root_path=root_path, root_folder=root_folder)
    path_history = f'{path_results}/{history_file_name}'
    if os.path.exists(path_history):
        history=pickle.load(open(path_history,'rb'))
        return list(history.keys())
    else:
        return []

### Usage

In [18]:
#exports tests.utils.test_experiment_utils
def test_get_monitored_training_metrics ():
    em = generate_data_exp_utils ('get_monitored_training_metrics')
    
    monitored_metrics = get_monitored_training_metrics (0)
    print (monitored_metrics)
    assert monitored_metrics==['validation_accuracy', 'test_accuracy', 'accuracy']
    
    em.remove_previous_experiments()

In [19]:
tst.run (test_get_monitored_training_metrics, tag='dummy')

running test_get_monitored_training_metrics
['validation_accuracy', 'test_accuracy', 'accuracy']

## get_classes_with_results

In [20]:
#export
def get_classes_with_results (experiment_data = None, suffix_results = '', class_ids = None):
    """
    Gets the list of class_ids for whom there are results in experiment_data.
    """
    assert experiment_data is not None, 'experiment_data must be introduced'
    result_columns = get_scores_columns (experiment_data, suffix_results=suffix_results, class_ids=class_ids)
    completed_results = ~experiment_data.loc[:,result_columns].isnull()
    completed_results = completed_results.all(axis=0)
    completed_results = completed_results.iloc[np.where(completed_results)]
    completed_results = completed_results.index

    return [int(x[:-len(suffix_results)]) for x in completed_results]

### Usage

In [21]:
#exports tests.utils.test_experiment_utils
def test_get_classes_with_results ():
    em = generate_data ('get_classes_with_results')
    
    df = em.get_experiment_data ()
    # we need to introduce experiment_data df, and suffix_results
    result = get_classes_with_results (df, suffix_results='_validation_accuracy')
    display (result)
    assert result==[0,1,2,3,4]
    
    # we can also restrict to certain class_ids
    result = get_classes_with_results (df, suffix_results='_validation_accuracy', class_ids=[0,2])
    display (result)
    assert result==[0,2]
    em.remove_previous_experiments()

In [22]:
tst.run (test_get_classes_with_results, tag='dummy')

running test_get_classes_with_results

[0, 1, 2, 3, 4]

[0, 2]

## get_parameters_unique

In [23]:
#export
def get_parameters_unique(df):
    parameters = []
    for k in df.columns:
        if len(df[k].unique()) > 1:
            parameters += [k]
    return parameters, df[parameters]

### Usage

In [24]:
#exports tests.utils.test_experiment_utils
def test_get_parameters_unique ():
    em = generate_data_exp_utils ('get_parameters_unique')
    df = em.get_experiment_data ()
    
    # keeps only those parameters with more than one value,
    # removing 'noise' in this case, since it has the same value in all rows
    result = get_parameters_unique (df[['epochs','offset','rate', 'noise']])
    assert result[1].shape==(18,3)
    assert result[0] == ['epochs', 'offset', 'rate']
    
    em.remove_previous_experiments()

In [25]:
tst.run (test_get_parameters_unique, tag='dummy')

running test_get_parameters_unique

## compact_parameters

In [26]:
#export
def compact_parameters (df, number_characters=1):
    par_or = df.columns
    par_new = [''.join(y[0].upper()+y[1:number_characters] for y in x.split('_')) for x in par_or]
    dict_rename = {k:v for k,v in zip(par_or, par_new)}
    df = df.rename (columns = dict_rename)
    
    return df, dict_rename

### Usage

In [27]:
#exports tests.utils.test_experiment_utils
def test_compact_parameters ():
    em = generate_data_exp_utils ('compact_parameters')
    df = em.get_experiment_data ()
    
    result = compact_parameters (df, number_characters=2)
    display (result[0].head())
    assert all(result[0].columns == ['Ep', 'Of', 'Ra', 'No', '0VaAc', '0TeAc', 'Ti0', 'Da', '0Fi', '1VaAc',
           '1TeAc', 'Ti1', '1Fi', '2VaAc', '2TeAc', 'Ti2', '2Fi', '3VaAc', '3TeAc',
           'Ti3', '3Fi', '4VaAc', '4TeAc', 'Ti4', '4Fi'])

    assert result[1]=={'epochs': 'Ep',
         'offset': 'Of',
         'rate': 'Ra',
         'noise': 'No',
         '0_validation_accuracy': '0VaAc',
         '0_test_accuracy': '0TeAc',
         'time_0': 'Ti0',
         'date': 'Da',
         '0_finished': '0Fi',
         '1_validation_accuracy': '1VaAc',
         '1_test_accuracy': '1TeAc',
         'time_1': 'Ti1',
         '1_finished': '1Fi',
         '2_validation_accuracy': '2VaAc',
         '2_test_accuracy': '2TeAc',
         'time_2': 'Ti2',
         '2_finished': '2Fi',
         '3_validation_accuracy': '3VaAc',
         '3_test_accuracy': '3TeAc',
         'time_3': 'Ti3',
         '3_finished': '3Fi',
         '4_validation_accuracy': '4VaAc',
         '4_test_accuracy': '4TeAc',
         'time_4': 'Ti4',
         '4_finished': '4Fi'}
    
    em.remove_previous_experiments()

In [28]:
tst.run (test_compact_parameters, tag='dummy')

running test_compact_parameters

,Ep,Of,Ra,No,0VaAc,0TeAc,Ti0,Da,0Fi,1VaAc,...,Ti2,2Fi,3VaAc,3TeAc,Ti3,3Fi,4VaAc,4TeAc,Ti4,4Fi
0,5.0,0.1,0.03,0.1,0.187291,0.345908,0.000287,15:54:30.168643,True,0.195008,...,0.000288,True,0.247587,0.401060,0.000281,True,0.171343,0.383237,0.000295,True
1,5.0,0.3,0.03,0.1,0.363557,0.708952,0.000270,15:54:30.331643,True,0.329114,...,0.000270,True,0.507114,0.477651,0.000274,True,0.272012,0.656417,0.000276,True
2,5.0,0.6,0.03,0.1,0.689966,0.909354,0.000295,15:54:30.504931,True,0.686573,...,0.000289,True,0.783208,0.914613,0.000306,True,0.706492,0.818832,0.000283,True
3,NaN,0.1,0.03,0.1,0.444584,0.127774,0.000306,15:54:30.687728,True,0.330040,...,0.000306,True,0.464690,0.231556,0.000312,True,0.424691,0.187480,0.000306,True
4,NaN,0.3,0.03,0.1,0.638497,0.579857,0.000299,15:54:30.890817,True,0.803721,...,0.000333,True,0.641315,0.476679,0.000329,True,0.404541,0.468960,0.000318,True

## replace_with_default_values

In [29]:
#export
def replace_with_default_values (df, parameters={}):
    from hpsearch.config.hpconfig import get_default_parameters
    
    parameters_names = get_parameters_columns (df)
    
    for k in df.columns:
        experiments_idx=np.argwhere(df[k].isna().ravel()).ravel()
        experiments=df.index[experiments_idx]
        for experiment in experiments:
            parameters = df.loc[experiment, parameters_names].copy()
            parameters[parameters.isna().values] = None
            parameters = parameters.to_dict()
            parameters = {k:parameters[k] for k in parameters if parameters[k] is not None}
            defaults = get_default_parameters(parameters)
            df.loc[experiment, k] = defaults.get(k)
    return df

### Usage

In [30]:
#exports tests.utils.test_experiment_utils
def test_replace_with_default_values ():
    em = generate_data_exp_utils ('replace_with_default_values')
    
    df = em.get_experiment_data ()
    df=replace_with_default_values(df)
    assert (df.epochs.values == ([5.]*3 + [10.]*3 + [100.]*3)*2).all()
    
    em.remove_previous_experiments()

In [31]:
tst.run (test_replace_with_default_values, tag='dummy')

running test_replace_with_default_values

## remove_defaults

In [32]:
#export
def remove_defaults (parameters):
    from hpsearch.config.hpconfig import get_default_parameters
    
    defaults = get_default_parameters(parameters)
    for key in defaults.keys():
        if key in parameters.keys() and (parameters[key] == defaults[key]):
            del parameters[key]
    return parameters

### Usage example

In [33]:
#exports tests.utils.test_experiment_utils
def test_remove_defaults ():
    em = init_em ('remove_defaults')
    result, dict_results = em.create_experiment_and_run (parameters={'offset':0.1, 'rate': 0.05})
    
    parameters = remove_defaults ({'offset':0.1, 'rate': 0.05})
    assert parameters=={'offset':0.1, 'rate': 0.05}
    
    parameters = remove_defaults ({'offset':0.1, 'rate': 0.01, 'epochs': 10})
    assert parameters=={'offset':0.1}
    
    parameters = remove_defaults ({'offset':0.5, 'rate': 0.000001, 'epochs': 10})
    assert parameters=={'rate': 0.000001, 'epochs': 10}
    
    parameters = remove_defaults ({'offset':0.5, 'rate': 0.000001, 'epochs': 100})
    assert parameters=={'rate': 0.000001}
    
    em.remove_previous_experiments ()

In [34]:
tst.run (test_remove_defaults, tag='dummy')

running test_remove_defaults
fitting model with 10 epochs
epoch 0: accuracy: 0.15000000000000002
epoch 1: accuracy: 0.2
epoch 2: accuracy: 0.25
epoch 3: accuracy: 0.3
epoch 4: accuracy: 0.35
epoch 5: accuracy: 0.39999999999999997
epoch 6: accuracy: 0.44999999999999996
epoch 7: accuracy: 0.49999999999999994
epoch 8: accuracy: 0.5499999999999999
epoch 9: accuracy: 0.6

## find_rows_with_parameters_dict

In [35]:
#export
def find_rows_with_parameters_dict (experiment_data, parameters_dict, create_if_not_exists=True, 
                                    exact_match=True, ignore_keys=[], precision = 1e-10):
    """ Finds rows that match parameters. If the dataframe doesn't have any parameter with that name, a new column is created and changed_dataframe is set to True."""
    changed_dataframe = False
    matching_all_condition = pd.Series([True]*experiment_data.shape[0])
    existing_keys = [par for par in parameters_dict.keys() if par not in ignore_keys]
    for parameter in existing_keys:
        if parameter not in experiment_data.columns:
            if create_if_not_exists:
                experiment_data[parameter] = None
                changed_dataframe = True
            else:
                raise ValueError ('parameter %s not found in experiment_data' %parameter)
        if parameters_dict[parameter] is None:
            matching_condition = experiment_data[parameter].isnull()
        elif experiment_data[parameter].isnull().all():
            matching_condition = ~experiment_data[parameter].isnull()
        elif (type(parameters_dict[parameter]) == float) or (type(parameters_dict[parameter]) == np.float32) or (type(parameters_dict[parameter]) == np.float64):
            if parameters_dict[parameter] == np.floor(parameters_dict[parameter]):
                matching_condition = experiment_data[parameter]==parameters_dict[parameter]
            else:
                matching_condition = experiment_data[parameter]==parameters_dict[parameter]
                for idx, v in enumerate(experiment_data[parameter]):
                    if (type(v) == float or type(v) == np.float32 or type(v) == np.float64) and (np.abs(v-parameters_dict[parameter]) < precision):
                        matching_condition.iloc[idx]=True
                    else:
                        matching_condition.iloc[idx]=False
        else:
            matching_condition = experiment_data[parameter]==parameters_dict[parameter]

        matching_all_condition = matching_all_condition & matching_condition.values
            
    # We assume that all the columns correspond to parameters, except for those that start with a digit (corresponding to the class evaluated) and those that start with time (giving an estimation of the computational cost)
    if exact_match:
        rest_parameters = get_parameters_columns (experiment_data)
        rest_parameters = [par for par in rest_parameters if par not in parameters_dict.keys()]
        rest_parameters = [par for par in rest_parameters if par not in ignore_keys]
        for parameter in rest_parameters:
            matching_condition = experiment_data[parameter].isnull()
            matching_all_condition = matching_all_condition & matching_condition.values
    
    matching_rows = matching_all_condition.index[matching_all_condition].tolist()
    
    return matching_rows, changed_dataframe, matching_all_condition

### Usage example

In [36]:
#exports tests.utils.test_experiment_utils
def test_find_rows_with_parameters_dict ():
    em = generate_data_exp_utils ('find_rows_with_parameters_dict')
    
    df = em.get_experiment_data ()
    result = find_rows_with_parameters_dict (df, dict (rate=0.0001))
    matching_rows, changed_dataframe, matching_all_condition = result
    assert matching_rows==[]
    assert not changed_dataframe
    
    result = find_rows_with_parameters_dict (df, dict (rate=0.0001), exact_match=False)
    matching_rows, changed_dataframe, matching_all_condition = result
    assert matching_rows == [9, 10, 11, 12, 13, 14, 15, 16, 17]
    
    result = find_rows_with_parameters_dict (df, dict (rate=0.0001, epochs=5, offset=0.6), exact_match=False,
                                        ignore_keys=['epochs'])
    matching_rows, changed_dataframe, matching_all_condition = result
    assert matching_rows==[11, 14, 17]

    df.loc[16, 'rate']=0.00011
    result = find_rows_with_parameters_dict (df, dict (rate=0.0001), exact_match=False)
    matching_rows, changed_dataframe, matching_all_condition = result
    assert matching_rows==[9, 10, 11, 12, 13, 14, 15, 17]

    result = find_rows_with_parameters_dict (df, dict (rate=0.0001), exact_match=False, precision = 0.0001)
    matching_rows, changed_dataframe, matching_all_condition = result
    assert matching_rows==[9, 10, 11, 12, 13, 14, 15, 16, 17]

    result = find_rows_with_parameters_dict (df, dict (new_par=4), exact_match=False)
    matching_rows, changed_dataframe, matching_all_condition = result
    assert changed_dataframe
    assert df.shape == (18, 26)
    assert matching_rows==[]
    assert 'new_par' in df.columns
    assert matching_rows==[]
    
    em.remove_previous_experiments ()

In [37]:
tst.run (test_find_rows_with_parameters_dict, tag='dummy')

running test_find_rows_with_parameters_dict

## summarize_results

In [38]:
#export
def summarize_results(path_experiments = None, 
                      folder_experiments = None,
                      intersection = False, 
                      experiments = None, 
                      suffix_results='', 
                      min_results=0, 
                      class_ids = None, 
                      parameters = None,
                      output='all',
                      data = None,
                      ascending=False,
                      suffix_test_set = None,
                      stats = ['mean','median','rank','min','max','std']):
    """Obtains summary scores for the desired list of experiments. Uses the experiment_data csv for 
    that purpose
    
    Example use: 
        - restricting class_ids:
            summarize_results(class_ids= [1058,1059],suffix_results='_m3');
    
        - with a predetermined list of class_ids:
            summarize_results(class_ids='qualified',suffix_results='_m3',min_results=96);
    """
    
    
    if data is None:
        experiment_data = get_experiment_data (path_experiments=path_experiments, folder_experiments=folder_experiments)
        experiment_data_original = experiment_data.copy()
        if experiments is not None:
            experiment_data = experiment_data.loc[experiments,:]
        if parameters is not None:
            experiment_rows, _, _ = find_rows_with_parameters_dict (experiment_data, parameters, create_if_not_exists=False, exact_match=False)
            experiment_data = experiment_data.loc[experiment_rows]
    else:
        experiment_data = data.copy()
        experiment_data_original = experiment_data.copy()
        
    # Determine the columnns that provide evaluation scores. 
    result_columns = get_scores_columns (experiment_data, suffix_results=suffix_results, class_ids=class_ids)
    
    experiment_data.loc[:,'num_results'] = np.sum(~experiment_data.loc[:,result_columns].isnull(),axis=1)
    if min_results > 0:
        number_before = experiment_data.shape[0]
        experiment_data = experiment_data[experiment_data.num_results>=min_results]
        print (f'{experiment_data.shape[0]} out of {number_before} experiments have {min_results} runs completed')
    
    # Take only those class_ids where all experiments provide some score
    if intersection:
        number_before = len(result_columns)
        all_have_results = ~experiment_data.loc[:,result_columns].isnull().any(axis=0)
        result_columns = (np.array(result_columns)[all_have_results]).tolist()
        print (f'{len(result_columns)} out of {number_before} runs for whom all the selected experiments have completed')
        
    print (f'total data examined: {experiment_data.shape[0]} experiments with at least {experiment_data["num_results"].min()} runs done for each one')
        
    scores = -experiment_data.loc[:,result_columns].values
    rank = np.argsort(scores,axis=0)
    rank = np.argsort(rank,axis=0).astype(np.float32)
    rank[experiment_data.loc[:,result_columns].isnull()]=np.nan
    
    parameters = get_parameters_columns(experiment_data, True)
    experiment_data.loc[:,'mean'] = experiment_data.loc[:,result_columns].mean(axis=1)
    experiment_data.loc[:,'min'] = experiment_data.loc[:,result_columns].min(axis=1)
    experiment_data.loc[:,'max'] = experiment_data.loc[:,result_columns].max(axis=1)
    experiment_data.loc[:,'std'] = experiment_data.loc[:,result_columns].std(axis=1)
    experiment_data.loc[:,'median'] = experiment_data.loc[:,result_columns].median(axis=1)
    experiment_data.loc[:,'rank'] = np.nanmean(rank,axis=1)
    experiment_data.loc[:,'good'] = (experiment_data.loc[:,result_columns]>=0.1666666).sum(axis=1)
    
    scores_to_return = dict(mean=['mean'], median=['median'], rank=['rank'], good=['good'])
    if suffix_test_set is not None:
        def add_score_to_return (suffix_test_set_i):
            result_columns_test_set = get_scores_columns (experiment_data, suffix_results=suffix_test_set_i, class_ids=class_ids)
            experiment_data.loc[:,'mean%s' %suffix_test_set_i] = experiment_data.loc[:,result_columns_test_set].mean(axis=1)
            experiment_data.loc[:,'median%s' %suffix_test_set_i] = experiment_data.loc[:,result_columns_test_set].median(axis=1)
            scores_test_set = -experiment_data.loc[:,result_columns_test_set].values
            rank_test_set = np.argsort(scores_test_set,axis=0)
            rank_test_set = np.argsort(rank_test_set,axis=0).astype(np.float32)
            rank_test_set[experiment_data.loc[:,result_columns].isnull()]=np.nan
            experiment_data.loc[:,'rank%s' %suffix_test_set_i] = np.nanmean(rank_test_set,axis=1)
            experiment_data.loc[:,'good%s' %suffix_test_set_i] = (experiment_data.loc[:,result_columns_test_set]>=0.1666666).sum(axis=1)
            for k in scores_to_return.keys():
                scores_to_return[k] += ['%s%s' %(k, suffix_test_set_i)]
        if type(suffix_test_set) == str:
            suffix_test_set = [suffix_test_set]
        for suffix_test_set_i in suffix_test_set:
            add_score_to_return(suffix_test_set_i)
        
    if output == 'all':
        summary = dict (mean = experiment_data.loc[:,parameters+scores_to_return['mean']].sort_values(by='mean',ascending=ascending),
                        median = experiment_data.loc[:,parameters+scores_to_return['median']].sort_values(by='median',ascending=ascending),
                        rank = experiment_data.loc[:,parameters+scores_to_return['rank']].sort_values(by='rank'),
                        good = experiment_data.loc[:,parameters+scores_to_return['good']].sort_values(by='good',ascending=False),
                        stats = experiment_data.loc[:,parameters+stats].sort_values(by='mean',ascending=ascending),
                        unordered = experiment_data.loc[:,parameters],
                        allcols = experiment_data,
                        original = experiment_data_original
                        )
    elif output == 'stats':
        summary = experiment_data.loc[:,parameters+['mean','median','rank']]
    elif output == 'unordered':
        summary = experiment_data.loc[:,parameters]
    elif output == 'allcols':
        summary = experiment_data
    elif output == 'original':
        summary = experiment_data_original
    else:
        summary = experiment_data.loc[:,parameters+[output]].sort_values(by=output, ascending=output=='rank')
        

    return summary

### Usage example

In [39]:
#exports tests.utils.test_experiment_utils
def test_summarize_results ():
    em = init_em ('summarize_results')
    em.run_multiple_repetitions (parameters=dict(offset=0.1, rate=0.01), nruns=3)
    em.run_multiple_repetitions (parameters=dict(offset=0.2, rate=0.001), nruns=5)
    em.run_multiple_repetitions (parameters=dict(offset=0.3, rate=0.02), nruns=2)
    
    md ('\n\n')
    md ('- We need to indicate the metric to be retrieved, otherwise it will count '
        'as many results as num_results*num_metrics: ')
    d = summarize_results ()
    display (d['mean'])
    assert d['mean'].num_results.sum() == 30
    assert d['mean'].shape[0]==3
    
    md ('\n\n')
    md ('- The metric is indicated with `_` at the beginning: ')
    d = summarize_results (suffix_results='_validation_accuracy')
    display (d['mean'])
    assert d['mean'].num_results.sum() == 10
    assert d['mean'].shape[0]==3
    
    md ('\n\n')
    md ('- We can filter those results that have less than X runs: ')
    d = summarize_results (suffix_results='_validation_accuracy', min_results=5)
    display (d['mean'])
    assert d['mean'].num_results.sum() == 5
    assert d['mean'].shape[0]==1
    
    md ('\n\n')
    md ('- We can filter by experiment number and/or number of results, and retrieve the original dataframe,'
        'plus new columns with stats: ')
    d = summarize_results (suffix_results='_validation_accuracy', experiments=[0,2], output='allcols')
    display (d)
    assert d.shape[0]==2
    assert all(d.index==[0,2])
    assert {'mean', 'min', 'max', 'std', 'median'}.issubset(d.columns)
    em.remove_previous_experiments ()

In [40]:
tst.run (test_summarize_results, tag='dummy')

running test_summarize_results
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.32
epoch 1: accuracy: 0.34
epoch 2: accuracy: 0.36000000000000004
epoch 3: accuracy: 0.38000000000000006
epoch 4: accuracy: 0.4000000000000001
epoch 5: accuracy: 0.4200000000000001
epoch 6: accuracy: 0.4400000000000001
epoch 7: accuracy: 0.46000000000000013
epoch 8: accuracy: 0.48000000000000015
epoch 9: accuracy: 0.5000000000000001
fitting model with 10 epochs
epoch 0: accuracy: 0.32
epoch 1: accuracy: 0.34
epoch 2: accuracy: 0.36000000000000004
epoch 3: accuracy: 0.38000000000000006
epoch 4: accuracy: 0.4000000000000001
epoch 5: accuracy: 0.4200000000000001
epoch 6: accuracy: 0.4400000000000001
epoch 7: accuracy: 0.46000000000000013
epoch 8: accuracy: 0.48000000000000015
epoch 9: accuracy: 0.5000000000000001

- We need to indicate the metric to be retrieved, otherwise it will count as many results as num_results*num_metrics:

total data examined: 3 experiments with at least 6 runs done for each one

   offset   rate  num_results      mean
2     0.3  0.020            6  0.633333
1     0.2  0.001           15  0.440000
0     0.1    NaN            9  0.433333

- The metric is indicated with `_` at the beginning:

total data examined: 3 experiments with at least 2 runs done for each one

   offset   rate  num_results  mean
2     0.3  0.020            2  0.50
1     0.2  0.001            5  0.21
0     0.1    NaN            3  0.20

- We can filter those results that have less than X runs:

1 out of 3 experiments have 5 runs completed
total data examined: 1 experiments with at least 5 runs done for each one

   offset   rate  num_results  mean
1     0.2  0.001            5  0.21

- We can filter by experiment number and/or number of results, and retrieve the original dataframe,plus new columns with stats:

total data examined: 2 experiments with at least 2 runs done for each one

,offset,0_validation_accuracy,0_test_accuracy,time_0,date,0_finished,1_validation_accuracy,1_test_accuracy,time_1,1_finished,...,time_4,4_finished,num_results,mean,min,max,std,median,rank,good
0,0.1,0.2,0.1,0.002003,15:54:43.969089,True,0.2,0.1,0.001967,True,...,NaN,NaN,3,0.2,0.2,0.2,0.0,0.2,0.666667,3
2,0.3,0.5,0.4,0.002099,15:54:44.225272,True,0.5,0.4,0.002191,True,...,NaN,NaN,2,0.5,0.5,0.5,0.0,0.5,0.000000,2

## query

In [41]:
#export
def query (path_experiments = None, 
              folder_experiments = None,
              intersection = False, 
              experiments = None, 
              suffix_results='', 
              min_results=0, 
              classes = None, 
              parameters_fixed = {},
              parameters_variable = {},
              parameters_all = [],
              exact_match = True,
              output='all',
              ascending=False,
              suffix_test_set = None,
              stats = ['mean','median','rank','min','max','std'],
              query_other_parameters=False):
  
    if path_experiments is None:
        from hpsearch.config.hpconfig import get_path_experiments
        path_experiments = get_path_experiments()
    
    path_pickle = None
    if query_other_parameters:
        path_csv = '%s/other_parameters.csv' %path_experiments
    else:
        path_pickle = '%s/experiments_data.pk' %path_experiments
        if not os.path.exists(path_pickle):
            path_pickle = None
            path_csv = '%s/experiments_data.csv' %path_experiments
    if path_pickle is not None:
        experiment_data = pd.read_pickle(path_pickle)
    else:
        experiment_data = pd.read_csv(path_csv, index_col=0)
    
    non_valid_pars = set(parameters_fixed.keys()).difference(set(experiment_data.columns))
    if len(non_valid_pars) > 0:
        print (f'\n**The following query parameters are not valid: {list(non_valid_pars)}**')
        print (f'\nValid parameters:\n{sorted(get_parameters_columns(experiment_data))}\n')
    
    parameters_multiple_values_all = list(ParameterGrid(parameters_variable))
    experiment_numbers = []
    for (i, parameters_multiple_values) in enumerate(parameters_multiple_values_all):
        parameters = parameters_multiple_values.copy()
        parameters.update(parameters_fixed)
        parameters_none = {k:v for k,v in parameters.items() if v is None}
        parameters_not_none = {k:v for k,v in parameters.items() if v is not None}

        parameters = remove_defaults (parameters_not_none)
        parameters.update(parameters_none)
    
        experiment_numbers_i, _, _ = find_rows_with_parameters_dict (experiment_data, parameters, ignore_keys=parameters_all, exact_match = exact_match)
        experiment_numbers += experiment_numbers_i
    
    experiment_data = experiment_data.iloc[experiment_numbers]
    
    if experiments is not None:
        experiment_data = experiment_data.loc[experiments]
        
    if query_other_parameters:
        return experiment_data
  
    d=summarize_results(path_experiments=path_experiments, 
                      folder_experiments=folder_experiments,
                      intersection=intersection, 
                      experiments=experiments, 
                      suffix_results=suffix_results, 
                      min_results=min_results, 
                      class_ids=classes, 
                      parameters=None,
                      output='all',
                      data=experiment_data,
                      ascending=ascending,
                      suffix_test_set=suffix_test_set,
                      stats=stats)
                      
    return d['mean'], d

### Usage example

In [48]:
#exports tests.utils.test_experiment_utils
def test_query ():
    em = generate_data_exp_utils ('query')
        
    dmean, d = query (parameters_fixed=dict (rate=0.0001))
    assert dmean.empty
    
    md ('the dataframe only has mean. Results are sorted by mean score')
    dmean, d = query (parameters_fixed=dict (rate=0.0001), exact_match=False)
    assert dmean.shape[0]==9 and (dmean.rate==0.0001).all() and len(dmean.offset.unique())==3 and dmean['mean'].iloc[0]>dmean['mean'].iloc[1] and dmean['mean'].iloc[1] > dmean['mean'].iloc[2]
    display (dmean)
    md ('The second output d contains a field "stats" which is a dataframe. Results are sorted by mean score')
    assert {'mean', 'median', 'rank', 'min', 'max', 'std'}.issubset(d['stats'])
    display (d['stats'])
    
    md ('We can request parameter be in specific list of values')   
    dmean, d = query (parameters_fixed=dict(rate=0.0001), exact_match=False, 
                  parameters_variable=dict(epochs=[5,10], offset=[0.1, 0.3]))
    assert sorted(dmean.epochs.unique()) == [5,10]
    assert sorted(dmean.offset.unique()) == [0.1, 0.3]
    assert dmean.shape[0]==4
    display (dmean)
    
    md ('If we want a value that is the default, we need to indicate None')
    dmean, d = query (parameters_fixed=dict(rate=0.0001), exact_match=False, 
              parameters_variable=dict(epochs=[10, None], offset=[0.1, 0.3]))
    assert dmean.shape[0]==4
    assert dmean.epochs.isna().sum() == 2
    assert (dmean.epochs == 10).sum() == 2
    display (dmean)
    
    em.remove_previous_experiments ()

In [49]:
tst.run (test_query, tag='dummy')

running test_query
total data examined: 0 experiments with at least nan runs done for each one

the dataframe only has mean. Results are sorted by mean score

total data examined: 9 experiments with at least 15 runs done for each one

    epochs  offset    rate  noise  num_results      mean
11     5.0     0.6  0.0001    0.1           15  0.731242
14    10.0     0.6  0.0001    0.1           15  0.693155
17     NaN     0.6  0.0001    0.1           15  0.679728
10     5.0     0.3  0.0001    0.1           15  0.548471
13    10.0     0.3  0.0001    0.1           15  0.505715
16     NaN     0.3  0.0001    0.1           15  0.481352
9      5.0     0.1  0.0001    0.1           15  0.432128
12    10.0     0.1  0.0001    0.1           15  0.386496
15     NaN     0.1  0.0001    0.1           15  0.380060

The second output d contains a field "stats" which is a dataframe. Results are sorted by mean score

,epochs,offset,rate,noise,num_results,mean,median,rank,min,max,std
11,5.0,0.6,0.0001,0.1,15,0.731242,0.717476,1.066667,0.412303,1.0,0.216686
14,10.0,0.6,0.0001,0.1,15,0.693155,0.581141,2.533333,0.288745,1.0,0.260617
17,NaN,0.6,0.0001,0.1,15,0.679728,0.670236,3.666667,0.312746,1.0,0.263702
10,5.0,0.3,0.0001,0.1,15,0.548471,0.426426,2.733333,0.095076,1.0,0.346302
13,10.0,0.3,0.0001,0.1,15,0.505715,0.315252,4.200000,0.126844,1.0,0.367088
16,NaN,0.3,0.0001,0.1,15,0.481352,0.298419,5.466667,0.065535,1.0,0.390327
9,5.0,0.1,0.0001,0.1,15,0.432128,0.236860,4.000000,0.000000,1.0,0.425926
12,10.0,0.1,0.0001,0.1,15,0.386496,0.119425,5.533333,0.000000,1.0,0.451545
15,NaN,0.1,0.0001,0.1,15,0.380060,0.152559,6.800000,0.000000,1.0,0.457517

We can request parameter be in specific list of values

total data examined: 4 experiments with at least 15 runs done for each one

    epochs  offset    rate  noise  num_results      mean
10     5.0     0.3  0.0001    0.1           15  0.548471
13    10.0     0.3  0.0001    0.1           15  0.505715
9      5.0     0.1  0.0001    0.1           15  0.432128
12    10.0     0.1  0.0001    0.1           15  0.386496

If we want a value that is the default, we need to indicate None

total data examined: 4 experiments with at least 15 runs done for each one

    epochs  offset    rate  noise  num_results      mean
13    10.0     0.3  0.0001    0.1           15  0.505715
16     NaN     0.3  0.0001    0.1           15  0.481352
12    10.0     0.1  0.0001    0.1           15  0.386496
15     NaN     0.1  0.0001    0.1           15  0.380060

## summary

In [50]:
#export
def summary (df, experiments = None, score=None, compact=True):
    if experiments is not None:
        df = df.loc[experiments]
    if compact:
        _, df = get_parameters_unique(df)
    parameters_columns = get_parameters_columns(df, True)
    scores_columns = get_scores_columns (df, suffix_results=score)
    df = df[parameters_columns + scores_columns]
    df.columns=[c.split('_')[0] for c in df.columns]
    return df

### Usage example

In [59]:
#exports tests.utils.test_experiment_utils
def test_summary ():
    em = init_em ('summary')
    em.run_multiple_repetitions (parameters=dict(offset=0.1, rate=0.01), nruns=3)
    em.run_multiple_repetitions (parameters=dict(offset=0.2, rate=0.001), nruns=5)
    em.run_multiple_repetitions (parameters=dict(offset=0.3, rate=0.02), nruns=2)
    df = em.get_experiment_data()
    result = summary (df, score='_validation_accuracy')
    display (result)
    assert all(result.columns == ['offset', 'rate', '0', '1', '2', '3', '4'])
    assert result.shape[0] == 3
    em.remove_previous_experiments ()

In [60]:
tst.run (test_summary, tag='dummy')

running test_summary
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.11
epoch 1: accuracy: 0.12
epoch 2: accuracy: 0.13
epoch 3: accuracy: 0.14
epoch 4: accuracy: 0.15000000000000002
epoch 5: accuracy: 0.16000000000000003
epoch 6: accuracy: 0.17000000000000004
epoch 7: accuracy: 0.18000000000000005
epoch 8: accuracy: 0.19000000000000006
epoch 9: accuracy: 0.20000000000000007
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.201
epoch 1: accuracy: 0.202
epoch 2: accuracy: 0.203
epoch 3: accuracy: 0.20400000000000001
epoch 4: accuracy: 0.20500000000000002
epoch 5: accuracy: 0.20600000000000002
epoch 6: accuracy: 0.20700000000000002
epoch 7: accuracy: 0.20800000000000002
epoch 8: accuracy: 0.20900000000000002
epoch 9: accuracy: 0.21000000000000002
fitting model with 10 epochs
epoch 0: accuracy: 0.32
epoch 1: accuracy: 0.34
epoch 2: accuracy: 0.36000000000000004
epoch 3: accuracy: 0.38000000000000006
epoch 4: accuracy: 0.4000000000000001
epoch 5: accuracy: 0.4200000000000001
epoch 6: accuracy: 0.4400000000000001
epoch 7: accuracy: 0.46000000000000013
epoch 8: accuracy: 0.48000000000000015
epoch 9: accuracy: 0.5000000000000001
fitting model with 10 epochs
epoch 0: accuracy: 0.32
epoch 1: accuracy: 0.34
epoch 2: accuracy: 0.36000000000000004
epoch 3: accuracy: 0.38000000000000006
epoch 4: accuracy: 0.4000000000000001
epoch 5: accuracy: 0.4200000000000001
epoch 6: accuracy: 0.4400000000000001
epoch 7: accuracy: 0.46000000000000013
epoch 8: accuracy: 0.48000000000000015
epoch 9: accuracy: 0.5000000000000001

   offset   rate     0     1     2     3     4
0     0.1    NaN  0.20  0.20  0.20   NaN   NaN
1     0.2  0.001  0.21  0.21  0.21  0.21  0.21
2     0.3  0.020  0.50  0.50   NaN   NaN   NaN